<div class="centerbox">
  <div class="entry">
    <h4>You</h4>
    <p>
      <%= @question %>
    </p>
  </div>
  <div class="entry">
    <h4>Coach</h4>
    <p>
      <%= @answer %>
    </p>
  </div>
  <%= link_to "Ask another question", :root, class: 'btn' %>
</div>
