<div class="prompt">
  <h2>Ask a question</h2>
  <form action="/answer" method="get">
    <input id="question" name="question" type="text" required>
    <input id="submit" name="submit" type="submit" class="btn">
  </form>
</div>

