<div class="prompt">
  <p>Ask your coach anything</p>
  <form action="/answer" method="get">
    <input id="question" name="question" type="text" required>
    <input id="submit" name="submit" type="submit" class="btn">
  </form>
</div>

